p, div
{
margin:0in;
margin-bottom:.0001pt;
text-indent:.2in;
line-height:18.0pt;
font-size:12.0pt;
font-family:Arial;
}
 
  
banner1
{
margin-top:15pt;
margin-right:0in;
margin-bottom:4pt;
margin-left:-15pt;
text-indent:.2in;
color:#203070;
line-height:32.0pt;
font-size:30.0pt;
font-family:Arial;
font-weight:bold;
font-style:normal;
} 

banner2
{
margin-top:6pt;
margin-bottom:4pt;
margin-left:-15pt;
float:right;
line-height:20.0pt;
color:#911B1B;
font-size:22.0pt;
font-family:Arial;
font-weight:bold;
font-style:italic;
text-align:right;
} 

div.boxed
{border-style:solid;
border-width:medium;
line-height:20.0pt;
margin-top:12pt;
margin-bottom:12pt;
padding-top:2.0pt;
padding-left:6.0pt;
padding-right:6.0pt;}

div.diagram
{padding-bottom:6pt;
align:"center"
}


p.boxed
{border-style:solid;
border-width:medium;
line-height:20.0pt;
margin-top:12pt;
margin-bottom:12pt;
padding-top:2.0pt;
padding-left:6.0pt;
padding-right:6.0pt;
}


p.intable
{
text-indent:0in;
line-height:14.0pt;
}


p.noind
{
text-indent:0in;
}

p.inset
{
margin-left:.2in;
}

p.headed
{ 
margin-top:6pt;
}
p.gap
{ 
line-height:18pt;
}
p.small
{font-size:11.0pt;
font-family:Arial;
line-height:18pt;
text-indent:0in;
}


p.smallquote
{color:#911B1B;
font-size:11.0pt;
font-family:Arial;
line-height:16.0pt;
text-indent:.2in;
}

p.smallind
{color:#203090;
font-size:11.0pt;
font-family:Arial;
line-height:16.0pt;
text-indent:.2in;
}

p.smallnote
{color:#203090;
font-size:11.0pt;
font-family:Arial;
line-height:14.0pt;
text-indent:.2in;
}


p.blue
{color:#203070;
margin-top:6.0pt; 
line-height: 18pt;
font-size: 13pt; 
font-weight:bold;
text-indent:0.2in;
}

p.blueit
{color:#203070;
margin-top:6.0pt; 
line-height: 18pt;
font-size: 13pt; 
font-style:italic;
font-weight:bold;
text-indent:0.2in;
}

p.bluesmall
{color:#203070;
margin-top:3pt;
line-height:17.0pt;
font-size: 12pt; 
font-weight:bold;
text-indent:0.2in;
}

p.bluesmallit
{color:#203070;
margin-top:6pt;
line-height:17.0pt;
font-size: 12pt; 
font-style:italic;
font-weight:bold;
text-indent:0.2in;
}

p.bluenoindent
{color:#203070;
margin-top:6pt;
line-height: 15pt;
font-size: 13pt; 
font-weight:bold;
text-indent:0in;
}

p.blueheader
{margin-top:6.0pt;
color:#203070; 
line-height:18.0pt;
font-size: 13pt; 
font-weight:bold;
text-indent:0in;
}

p.center{text-align:center;}

p.normal {font-style:normal;}

p.axiom
{color:#203070;
line-height:18.0pt;
font-size:13pt;
font-weight:bold;
}

p.axiomnoind
{color:#203070;
line-height:18.0pt;
font-size:13pt;
font-weight:bold;text-indent:0in;
}

p.smallquote
{color:#911B1B;
margin-top:4pt;
font-size:11.0pt;
font-family:Arial;
line-height:13.0pt;
text-indent:0.2in;
}

p.smallnote
{color:#203070;
margin-top:4pt;
font-size:11.0pt;
font-family:Arial;
line-height:13.0pt;
text-indent:0.2in;
}
 
p.purple
{color:#700080; 
font-weight:bold;
}  
 
p.purpleprose
{color:#700080; 
text-align:center;
margin-left:0pt;
margin-top:6.0pt;
margin-bottom:3.0pt;
line-height:18.0pt;
font-size: 13pt; 
font-weight:bold;
font-style:italic;
border-style:solid;
border-width:medium;
padding-left:6.0pt;
padding-right:6.0pt;
text-indent:0.0in;
}

p.purpleproseleft
{color:#800080; 
text-align:left;
margin-left:0pt;s
margin-top:6.0pt;
margin-bottom:3.0pt;
line-height:18.0pt;
font-size: 13pt; 
font-weight:bold;
font-style:italic;
border-style:solid;
border-width:medium;
padding-left:6.0pt;
padding-right:6.0pt;
text-indent:0.0in;
}

p.toc
{margin-top:0in;
margin:0in;
margin-bottom:0pt;
font-size:12.0pt;
font-family:Arial;
line-height:16.0pt;
text-indent:0in;
}

p.toc1
{font-size:11.0pt;
font-family:Arial;
line-height:14.0pt;
text-indent:0.15in;
}

p.toc2
{font-size:8.0pt;
font-family:Arial;
line-height:11.0pt;
text-indent:.3in;
}

p.maintoc0
{
margin-top:8.0pt;
margin-bottom:2.0pt; 
line-height: 16pt;
font-size: 14pt; 
font-weight:bold;
text-indent:0in;
}

p.maintoc1
{
margin-top:2.0pt;
margin-bottom:2.0pt;  
line-height: 14pt;
font-size: 12pt; 
text-indent:0.2in;
}

p.maintoc2
{
margin-top:0pt; 
line-height: 14pt;
font-size: 12pt; 
text-indent:0.4in;
}


p.maintoc3
{
margin-top:0pt; 
line-height: 14pt;
font-size: 12pt; 
text-indent:0.6in;
}



p.red
{margin-bottom:.0001pt;
text-indent:.2in;
line-height:18.0pt;
font-size:14.0pt;
    font-weight:bold;
    color:#911B1B;
font-family:Arial;
}
 
p.rednoindent
    {
margin-bottom:.0001pt;
text-indent:.2in;
line-height:18.0pt;
font-size:14.0pt;
font-weight:bold;
color:#911B1B;
font-family:Arial;
}


blockquote
{
line-height:20.0pt;
font-size:14.0pt;
font-family:Arial;
} 
      
pre
{
margin:0in;
margin-top:0pt;
margin-bottom:.0001pt;
text-indent:0in;
line-height:20.0pt;
font-size:14.0pt;
font-family:Arial;
} 

ul,ol
    {margin-top:4pt;
    margin-bottom:3pt;
    text-indent:0pt;
    }

ul.indent
    {margin-top:4pt;
    margin-left:20pt
    margin-bottom:3pt;
    text-indent:0pt;
    }

li
{
margin:0in;
margin-bottom:3pt;
text-indent:0in;
line-height:18.0pt;
font-size:12.0pt;
font-family:Arial;
} 

li.indent
{
margin-left:2.7in;
margin-bottom:3pt;
text-indent:0pt;
line-height:18.0pt;
font-size:12.0pt;
font-family:Arial;
} 

li.purple
{color:#800080; 
font-weight:bold;
}  

li.purpleprose
{color:#800080; 
text-align:center;
margin-left:0pt;
margin-top:6.0pt;
margin-bottom:4.0pt;
line-height:18.0pt;
font-size: 13pt; 
font-weight:bold;
font-style:italic;
border-style:solid;
border-width:medium;
padding-left:6.0pt;
padding-right:6.0pt;
text-indent:0.0in;
}

li.squished
{
margin-bottom:0pt;
}

li.sqnobullet
{
margin:0in;
line-height:15pt;
font-size:12pt;
list-style-type:none;
margin-top:0pt;
margin-bottom:0pt;
}

li.contents
{
line-height:15.0pt;
margin-bottom:3pt;
text-indent:.2in;
}



li.small
{font-size:11.0pt;
font-family:Arial;
line-height:14.0pt;
color:#203070;
}

li.bluesmall
{color:#203070;
line-height:14.0pt;
font-size: 11pt; 
}

li.red
{color:#911B1B;
line-height: 18pt; 
font-size: 13pt; 
font-weight:bold;
}
  


li.blue
{color:#203070; 
line-height: 18pt; 
font-size: 13pt; 
font-weight:bold;
}
  
li.blueit
{color:#203070; 
line-height: 18pt; 
font-size: 13pt;
font-style:italic;
font-weight:bold;
}  
  
li.blueintro
{color:#203070; 
line-height: 17pt; 
font-size: 14pt; 
font-weight:bold;
}  


ul.small
{color:#000000;
font-size:11.0pt;
font-family:Arial;
line-height:13.0pt;
text-indent:0in;
}

ul.blue
{color:#203070;
line-height:20.0pt;
font-size: 13pt; 
font-weight:bold;
}


ul.bluesmall
{color:#203070;
line-height:15.0pt;
font-size: 12pt; 
font-weight:bold;
}

ul.bluenodot
{color:#203070;
line-height:15.0pt;
font-size: 12pt; 
font-weight:bold;
list-style-type: none;
}

ul.purple
{color:#800080; 
font-weight:bold;
}  

ul.contents 
{
list-style-type: none;
margin-top:12pt;
margin-bottom:12pt;
}


li.axiom
{color:#203070;
line-height:18.0pt;
font-size:13pt;
font-weight:bold;
}

span.small
{font-size:11.0pt;
font-family:Arial;
color:#203070;
}

span.blue
{color:#203070;
line-height:20.0pt;line-height:20.0pt;
font-size: 13pt; 
font-weight:bold;
}

span.bluesmall
{color:#203070;
line-height:15.0pt;
font-size: 12pt; 
font-weight:bold;
}

span.bluetiny
{color:#203070;
line-height:15.0pt;
font-size: 11pt;
}

span.green
{color:#207030;
line-height:20.0pt;line-height:20.0pt;
font-size: 13pt; 
font-weight:bold;
}

span.ref
{
font-size: 10pt; 
}

span.purple
{color:#800080;
font-weight:bold;
}

span.purplelight
{color:#800080;
}

span.red
{color:#914B4B;
font-weight:bold; 
font-style:normal 
}


span.redit
{color:#914B4B;
line-height: 15pt;
font-size: 13pt;
font-style:italic;
font-weight:bold; 
}

span.redsmall
{color:#914B4B; 
font-size: 12pt;
font-style:italic;
font-weight:bold; 
}

sup
{font-size: 9pt;
font-style: normal;}

a.nound
{
text-decoration:none;
font-weight:bold;
}
     
h1
{margin-right:0in;
margin-bottom:4pt;
margin-left:0in;
text-indent:0in;
color:#207030;
font-size:22.0pt;
font-family:Arial;
font-weight:bold;
}

h2
{margin-top:11.0pt;
margin-right:0in;
margin-bottom:4.0pt;
margin-left:0in;
text-indent:0in;
color:#911B1B;
line-height:24.0pt;
font-size:19.0pt;
font-family:Arial;
font-weight:bold;
}

h2.blue
{color:#203070;}

h3
{margin-top:8.0pt;
margin-right:0in;
margin-bottom:4pt;
margin-left:0in;
text-indent:0in;
color:#203070;
line-height:19.0pt;
font-size:16.0pt;
font-family:Arial;
font-weight:bold;
}

h3.symbol
{font-size=18pt;}

h3.red
{color:#911B1B;} 

h3.it
{font-style:italic;
}

h3.redit
{color:#911B1B;
font-style:italic;}

h4.redind
{color:#911B1B;
text-indent:.3in;}

h4
{margin-top:6.0pt;
margin-right:0in;
margin-bottom:1pt;
margin-left:0in;
text-indent:0in;
color:#203070;
line-height:17.0pt;
font-size:14.0pt;
font-family:Arial;
font-weight:bold;
font-style:italic;
} 

h4.it
{font-style:italic;
}

h4.nonit
{font-style:normal;
}

h4.redit
{color:#911B1B;
font-style:italic;} 
 
h4.proc
{margin-top:4.0pt;
margin-right:0in;
margin-bottom:1pt;
margin-left:0in;
text-indent:0in;
color:#203070;
line-height:17.0pt;
font-size:13.0pt;
font-family:Arial;
font-weight:bold;
font-style:normal;
}

h5
{margin-top:5.0pt;
margin-bottom:1pt;
margin-left.2in;
text-indent:0in;
line-height:15.0pt;
font-size:12.0pt;
color:#203070;
font-family:Arial;
font-weight:bold;
font-style:italic;
}   

h5.red
{color:#911B1B;
font-style:italic;
}

h6
{margin-top:5.0pt;
margin-bottom:1pt;
margin-left.2in;
text-indent:0in;
line-height:15.0pt;
font-size:12.0pt;
color:#911B1B;
font-family:Arial;
font-weight:bold;
font-style:italic;
}   

h.inhead
{margin-top:6.0pt;
margin-bottom:.0001pt;
text-indent:0in;
line-height:18.0pt;
font-size:14.0pt;
font-weight:bold;
color:#911B1B;
font-family:Arial;
font-style:italic;
}  


table, th, td 
{
border:none;
font-size:12pt
}

td.close
{
cellpadding:3px;
text-indent:0px
}

phead
   {
color:#911B1B;
line-height:18.0pt;
font-size:14.0pt;
font-family:Arial;
font-style:italic;
font-weight:bold;
    }

proc
  {
    color:#203070;
    font-weight:bold;
  }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}





